.card {
    width: 270px;
    height: 400px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 40px 80px 10px rgba(233, 238, 242, 0.6);
    vertical-align: middle;
}

.card > img {
    width: 230px;
}

.card:hover{
    transform: scale(1.08);
    transition: 250ms;
}